{% extends 'main.html' %} {% block content %} 
{% if request.user.is_authenticated %}
<h1>Loan Lists</h1>
<table>
  <tr>
    <th>Loan</th>
    <th>Created</th>
  </tr>
  {% for loan in loans %}
  <tr>
    <td><a href="{% url 'single-loan' loan.id %}">{{loan.loan_name}}</a></td>
    <td>{{loan.created}}</td>
    <td><a href="{% url 'update-loan' loan.id %}">Edit</a></td>
    <td><a href="{% url 'delete-loan' loan.id %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h1>Welcome to SmartSpend</h1>
{% endif %} {% endblock content %}
